body {
	font-family: Verdana;
	font-size: 0.8em;
	background-color: #5497CD;
	color: #FFFFA4;
	margin-left: 50px;
}
h1 {
    margin: 50px 0;
}
h3 {
	margin: 15px 0 0 -1em;
    /*
	margin-left: -1em;
	margin-bottom: 0px;*/
	width: 25%;
	color: #F08126;
	background: #E2F4F6 right;
	text-align: center;
	border: thin groove #B9FFBB;
}
a:active   {
	color: Fuchsia;
	text-decoration: none;
}
a:link, a:visited {
	color: #A5EFAA;
	text-decoration: none;
}
a:hover    {
	color: Green;
	background-color: Yellow;
	text-decoration: none;
}